* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin-left: 23px;
    margin-right: 23px;
}

.nav {
    width: 100%;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8px;

    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.logo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 24px;

    list-style: none;

    background-color: #272424;

    padding: 10px 20px;
    border-radius: 2px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    color: #fff;
    text-decoration: none;

    font-size: 15px;
    font-weight: 600;
}

.links ul li a:hover {
    text-decoration: underline;
}

.links .active {
    text-decoration: underline;
}
.icons {
    display: flex;
    align-items: center;
    gap: 13px;
}

.icons a {
    color: #fff;
    font-size: 20px;
}

.main1 {
    padding: 0 5px;
    position: relative;
}

.main1img {
    position: relative;
    width: 100%;
}

.img1 {
    display: block;

    width: 100%;
    height: auto;

    border-radius: 2px;

    object-fit: cover;
}

.main1txtt {
    position: absolute;

    left: 12px;
    bottom: 40px;

    max-width: 55%;

    color: #fff;
}

.main1txtt p {
    font-size: clamp(32px, 6vw, 160px);

    font-weight: 300;

    line-height: 1;

    letter-spacing: -2px;
}

.button {
    position: absolute;

    right: 28px;
    bottom: 40px;

    background-color: #ffd900;

    padding: 5px 12px;

    border: 1px solid #ffd900;

    border-radius: 5px;
}

.button a {
    color: #000;

    text-decoration: none;

    font-size: 15px;

    font-weight: 400;
}

.button a:hover {
    text-decoration: underline;
}

.scroll {
    position: absolute;

    left: 0;
    bottom: 3px;

    width: 100%;

    overflow: hidden;

    padding: 4px 0;
}

.track {
    display: flex;

    width: max-content;

    color: #ffd900;

    animation: scrol 15s linear infinite;
}

.content {
    display: flex;
    align-items: center;

    gap: 7px;

    padding-right: 15px;

    white-space: nowrap;
}

.content i {
    font-size: 4px;
}

.content span {
    font-size: 18px;
    font-weight: 600;
}


@keyframes scrol {

    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }

}


.main2 {
    min-height: 490px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}


.main2head {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    margin-top: -140px;
}


.main2head li {
    list-style: none;
}

.main2head > span {
    color: #ffd900;
    font-size: 22px;
}

.main2head h1 {
    color: #fff;
    font-weight: 600;
}

.main2para {
    width: 50%;
    padding-right: 10px;
}

.main2para p {
    color: #fff;
    font-size: 26px;
    line-height: 29px;
    font-weight: 800;
    text-align: justify;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.main2button {
    display: flex;
    gap: 20px;
}
.portfolio {
    display: inline-block;
    color: #000;
    background-color: #ffd900;
    border: 1px solid #ffd900;
    text-decoration: none;
    padding: 5px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.portfolio:hover {
    text-decoration: underline;
}

.about {
    display: inline-block;
    border: 2px solid gold;
    color: gold;
    background-color: black;
    text-decoration: none;
    padding:10px 45px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.about:hover {
    text-decoration: underline;
}

.a3 {
    color: #ffd900;
    animation: a3 2s infinite;
}

.a2 {
    color: #ffd900;
    animation: a2 2s infinite;
}


@keyframes a3 {

    0% {
        color: #ffd900;
    }

    99% {
        color: #000;
    }

}


@keyframes a2 {

    0% {
        color: #ffd900;
    }

    99% {
        color: #212020;
    }

}

.main3 {
    width: calc(100% - 16px);
    min-height: 190px;
    display: flex;
    margin: 15px 10px;
    padding: 15px 22px;
    background-color: #212020;
    border-radius: 5px;
    overflow: hidden;
}

.main3left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main3top {
    color: #ffd900;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 10px;
}

.main3top p {
    margin: 0;
}

.main3bottom {
    color: #fff;
    padding: 0;
}

.main3bottom1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
}

.main3bottom1 li {
    list-style: none;
}

.main3bottom1 > span {
    color: #ffd900;
    font-size: 15px;
}

.main3bottom1 h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.main3bottom p {
    color: #fff;
    max-width: 350px;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    word-spacing: 0;
    margin: 0;
}

.main3right {
    width: 64%;
    min-height: 180px;
}

.main3right img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.main4 {
    min-height: 570px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.main4 p {
    color: #fff;
    width: 45%;
    font-size: clamp(50px, 9vw, 110px);
    font-weight: 300;
    line-height: 0.88;
    letter-spacing: -3px;
}

.main5 {
    display: flex;
    margin: 50px 40px 0px;
}
.main5left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
}

.main5left li {
    list-style: none;
}

.main5left > span {
    color: #ffd900;
    font-size: 15px;
}

.main5left h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.main5right {
    width: 50%;
}
.main5rightimg {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
}

.main5right p {
    color: #777;
    font-size: 28px;
    line-height: 26px;
    font-weight: 600;
    text-align: justify;
    padding: 0;
    margin: 40px 0px;
    max-width: 700px; 
}

.main6 {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.reel {
    position: relative;
    padding: 0 8px;
}

.reel > img {
    display: block;
    width: 100%;
    height: 580px;
    object-fit: cover;
}

.reelp {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    inset: 0;
    justify-content: center;
    text-align: center;
}

.reelp h1 {
    color: #fff;
    font-size: clamp(30px, 7vw, 100px);
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2px;
    margin: 0 0 10px;
}

.reelpp {
    color: #fff;
    position: static;
    font-size: 22px;
    line-height: 21px;
    margin: 25px 0px;
}

#rels {
    position: static;
}

.portfolio{
    padding: 10px 30px;
    font-size: 17px;
}

.main7 {
    min-height: 320px;
    margin: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo1 img {
    width: 25px;
    height: 25px;
}
.m7l {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.main7right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-right: 0;
}

.m7rp {
    width: 80%;
    color: #fff;
    font-size: clamp(25px, 4vw, 70px);
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1.5px;
}

.m7ri {
    background-color: gold;
    border: 2px solid gold;
    width: 45px;
    height: 35px;
    border-radius: 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes arrow {
   0% {background-color: gold; border-color: gold; }
    50% {background-color: black; border-color: black;}
}

.main8 {
    margin: 0 22px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.iconss {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.iconss a {
    color: #fff;
    font-size: 25px;
}
.main8right {
    width: 50%;
    display: flex;
}

.m8r1,
.m8r2,
.m8r3 {
    width: 50%;
}

.m8r1 h1,
.m8r2 h1,
.m8r3 h1 {
    color: #fff;
    line-height: 18px;
    font-weight: 600;
    margin: 0 0 4px;
}

.m8r1 p,
.m8r2 p,
.m8r3 p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main9 {
    display: flex;
    color: #fff;
    margin-bottom: 20px;
}

.empty {
    width: 50%;
}

.main9right {
    width: 50%;
    display: flex;
}
.m9r1 {
    width: 35%;
    font-size: 17px;
    line-height: 27px;
    margin-top: 15px;
}

.m9r1 a {
    color: #fff;
    text-decoration: none;
}

.m9r1 a:hover {
    text-decoration: underline;
}

.m9r2 {
    width: 65%;
    margin-top: 48px;
    text-align: right;
    font-size: 17px;
    margin-left: -30px;
    
}

.m9r2 p {
    margin: 0;
}

.m9r2 a {
    color: #fff;
}
#menu-toggle {
    display: none;
}

.menu-button {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 575px) {

    /* =========================
       BASIC MOBILE RESET
    ========================= */

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }


    /* =========================
       NAVBAR
    ========================= */

    .nav {
        width: 100%;
        height: 70px;

        padding: 0 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        position: sticky;
        top: 0;
        left: 0;

        z-index: 1000;

        background-color: transparent;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .logo img {
        width: 22px;
        height: 22px;
    }

    .logo h2 {
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
    }

    .links,
    .icons {
        display: none;
    }


    /* =========================
       HAMBURGER BUTTON
    ========================= */

    #menu-toggle {
        display: none;
    }

    .menu-button {
        width: 36px;
        height: 36px;

        border: 1.5px solid #ffd900;
        border-radius: 50%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        gap: 4px;

        cursor: pointer;

        z-index: 1002;
    }

    .menu-button span {
        width: 16px;
        height: 1.5px;

        background-color: #ffd900;

        transition: 0.3s;
    }


    /* =========================
       MOBILE MENU
    ========================= */

    .mobile-menu {
        position: absolute;

        top: 70px;
        left: 0;

        width: 100%;
        min-height: calc(100vh - 70px);

        background-color: #000;

        display: none;
        flex-direction: column;

        padding: 50px 25px;

        z-index: 1001;
    }

    .mobile-menu > a {
        color: white;
        text-decoration: none;

        font-size: 30px;

        margin-bottom: 25px;
    }

    .mobile-menu > a:hover {
        color: #ffd900;
    }

    .mobile-icons {
        display: flex;
        gap: 25px;
        margin-top: 40px;
    }

    .mobile-icons a {
        color: white;
        font-size: 24px;
    }

    #menu-toggle:checked ~ .mobile-menu {
        display: flex;
    }


    /* HAMBURGER → X */

    #menu-toggle:checked + .menu-button span:nth-child(1) {
        transform: translateY(5.5px) rotate(45deg);
    }

    #menu-toggle:checked + .menu-button span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-button span:nth-child(3) {
        transform: translateY(-5.5px) rotate(-45deg);
    }


    /* =========================
       HERO SECTION
    ========================= */

    .main1 {
        width: 100%;
        height: 640px;

        padding: 0;
        margin: 0;

        position: relative;
    }

    .main1img {
        width: 100%;
        height: 640px;

        padding: 0;
        margin: 0;

        position: relative;
    }

    .img1 {
        display: block;

        width: 100%;
        height: 640px;

        margin: 0;
        padding: 0;

        object-fit: cover;

        border-radius: 0;
    }


    /* =========================
       HERO HEADING
    ========================= */

    .main1txtt {
        position: absolute;

        left: 50%;
        bottom: 305px;

        transform: translateX(-50%);

        width: 90%;
        max-width: 350px;

        text-align: center;
    }

    .main1txtt p {
        margin: 0;

        color: white;

        font-size: 31px;
        font-weight: 300;

        line-height: 0.98;

        letter-spacing: -1px;
    }


    /* =========================
       HERO BUTTON
    ========================= */

    .button {
        position: absolute;

        left: 50%;
        bottom: 255px;

        transform: translateX(-50%);

        width: 197px;

        padding: 8px 10px;

        background-color: #ffd900;

        border: 1px solid #ffd900;

        border-radius: 5px;

        text-align: center;

    }

    .button a {
        color: #000;

        text-decoration: none;

        font-size: 15px;
        font-weight: 600;
    }


    /* =========================
       SCROLLING TEXT
    ========================= */

    .scroll {
        position: absolute;

        left: 0;
        bottom: 0;

        width: 100%;

        height: 35px;

        overflow: hidden;

        padding: 5px 0;

        background-color: transparent;
    }

    .track {
        display: flex;

        width: max-content;

        color: #ffd900;

        animation: scrol 15s linear infinite;
    }

    .content {
        display: flex;

        align-items: center;

        gap: 7px;

        padding-right: 15px;

        white-space: nowrap;
    }

    .content i {
        font-size: 4px;
    }

    .content span {
        font-size: 15px;
        font-weight: 600;
    }


    @keyframes scrol {

        from {
            transform: translateX(-50%);
        }

        to {
            transform: translateX(0);
        }

    }
    

.main2 {
    width: 100%;
    min-height: 520px;
    margin: 0;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.main2head {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 25px 0;
}

.main2head li {
    list-style: none;
}

.main2head > span {
    color: white;
    font-size: 12px;
}

.main2head h1 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.main2para {
    width: 100%;
    padding: 0;
    margin: 0;
}

.main2para p {
    margin: 0;
    padding: 0;
    color:white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: justify;
}


.main2button {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.portfolio {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 8px 10px;
    color: #000;
    background-color: #ffd900;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.portfolio:hover {
    text-decoration: underline;
}


.about {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: 8px 10px;
    color: #ffd900;
    background-color: #000;
    border: 2px solid gold;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}

.about:hover {
    text-decoration: underline;
}

.a3 {
    color: #000;
    animation: a3 2s infinite;
}

.a2 {
    color: #000;
    animation: a2 2s infinite;
}


@keyframes a3 {

    0% {
        color: #000;
    }

    99% {
        color: #ffd900;
    }

}


@keyframes a2 {

    0% {
        color: #000;
    }

    99% {
        color: #ffd900;
    }

}
.main3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    min-height: auto;
    margin: 0;
    padding: 25px 15px;
    margin-top: 20px;
}
.main3right{
    order: 1;
    object-fit: cover;
}
.main3left{
    order: 2;
    width: 100%;
}
.main3top {
    color: #ffd900;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 10px;
}

.main3bottom1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
}

.main3bottom1 li {
    list-style: none;
}

.main3bottom1 > span {
    color: #ffd900;
    font-size: 10px;
}

.main3bottom1 h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.main3bottom p {
    color: #fff;
    width: 100%;
    max-width: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    word-spacing: 0;
    margin: 0;
}

.main3right {
    width: 100%;
    min-height: 180px;
}

.main3right img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.main4 p{
    font-size: 30px;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    height: 100px;
}
.main4 {
    min-height: 200px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}



    .main5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 40px 15px;
    }

    
    .main5right {
        display: contents;
    }

    .b1 {
        order: 1;
        width: 100%;
    }

    .main5rightimg {
        display: block;

        width: 100%;
        height: auto;

        object-fit: cover;
    }


    /* 2. HEADING */
    .main5left {
        order: 2;

        width: 100%;

        display: flex;
        align-items: center;

        gap: 10px;

        margin-top: 25px;
        margin-bottom: 20px;
    }

    .main5left h1 {
        margin: 0;

        font-size: 28px;
        line-height: 1.2;
    }


    .b2 {
        order: 3;

        width: 100%;

        margin: 0;
    }

    .b2 p {
        margin: 0;

        font-size: 16px;
        line-height: 1.5;

        text-align: justify;
    }


    .main7 {
        min-height: auto;
        margin: 0;
        padding: 45px 10px 35px;
        display: block;
    }

    .logo1 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .logo1 img {
        width: 25px;
        height: 25px;
    }

    .m7l {
        font-size: 20px;
    }


    .main7right {
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: flex-start;

        gap: 25px;

        padding: 55px 0 0;
    }

    .m7rp {
        width: 100%;

        font-size: 30px;
        line-height: 32px;

        letter-spacing: -1px;
    }


    .m7ri {
        width: 36px;
        height: 36px;

        font-size: 15px;
    }


    .main8 {
        margin: 0;
        padding: 0 10px;

        display: flex;
        flex-direction: column;
    }

    .iconss {
        order: 1;

        display: flex;

        align-items: center;

        gap: 25px;

        margin-top: 0;
        margin-bottom: 35px;
    }

    .iconss a {
        color: white;
        font-size: 20px;
    }


    .main8right {
        order: 2;

        width: 100%;

        display: flex;
        flex-direction: column;
    }


    .m8r1,
    .m8r2,
    .m8r3 {
        width: 100%;

        margin-bottom: 35px;
    }


    .m8r1 h1,
    .m8r2 h1,
    .m8r3 h1 {
        font-size: 20px;

        line-height: 20px;

        margin-bottom: 10px;
    }


    .m8r1 p,
    .m8r2 p,
    .m8r3 p {
        font-size: 16px;

        padding: 0;

        line-height: 20px;
    }


    .main9 {
        display: block;

        margin: 0;
        padding: 18px 10px 20px;
    }


    .empty {
        display: none;
    }


    .main9right {
        width: 100%;

        display: block;
    }


    .m9r1 {
        width: 100%;

        margin-top: 0;

        font-size: 14px;

        line-height: 22px;
    }


    .m9r2 {
        width: 100%;

        margin-top: 25px;
        margin-left: 0;

        text-align: left;

        font-size: 13px;
    }

 
} 